#main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#acount-container {
    display: flex;
    flex-direction: column;
}

#acount-btns {
    display: flex;
    justify-content: space-around;
}
